@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.6);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  text-align: center;
  .icons {
    margin-top: 1rem;
    margin-bottom: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
      .fa-facebook {
        color: rgb(66, 103, 178);
        transition: 1s;
      }
      .fa-facebook:hover {
        font-size: 38px;
        color: rgb(0, 35, 100);
      }
      .fa-linkedin {
        color: rgb(0, 97, 146);
        transition: 1s;
      }
      .fa-linkedin:hover {
        font-size: 38px;
        color: black;
      }
      .fa-github {
        color: black;
        transition: 1s;
      }
      .fa-github:hover {
        font-size: 38px;
        color: rgb(41, 41, 41);
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
#about {
  background: black;
}
.about-info {
  align-content: center;
  .bio-image {
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    width: 15rem;
    height: 15rem;
  }

  .bio {
    padding: 4rem;
    font-size: 1.5rem;
    p {
      text-align: left;
    }
  }
  .timeline {
    position: relative;
    border-left: rgb(255, 255, 0) 5px solid;

    .job {
      background: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      width: 80%;
      margin: 1rem 7rem;
      align-items: center;
      &::before {
        position: absolute;
        display: block;
        transform: translateY(-50%);
      }
      &::after {
        position: absolute;
        display: block;
        transform: translateY(-50%);
      }
      &::before {
        content: attr(date);
        left: 5px;
      }
      &::after {
        content: "O";
        color: yellow;
        border-radius: 100%;
        left: -8.9px;
        font-weight: 500;
        background-size: cover;
        background-color: black;
      }
      .paragrafo {
        text-align: justify;
      }
    }
    .job-1 {
      border-top: rgb(190, 190, 190) 3px solid;

      img {
        top: 1rem;
        left: 10rem;
        position: absolute;
        height: 4rem;
      }
    }
    .job-2 {
      border-top: rgb(194, 28, 52) 3px solid;

      img {
        top: 13.5rem;
        left: 10rem;
        position: absolute;
        height: 4rem;
      }
    }
    .job-3 {
      border-top: rgb(30, 255, 0) 3px solid;

      img {
        top: 28rem;
        left: 10rem;
        position: absolute;
        height: 4rem;
      }
    }
    .job-4 {
      border-top: rgb(255, 0, 200) 3px solid;

      img {
        top: 42rem;
        left: 10rem;
        position: absolute;
        height: 4rem;
      }
    }
    .job-5 {
      border-top: rgb(0, 255, 235) 3px solid;
      img {
        top: 55rem;
        left: 10rem;
        position: absolute;
        height: 3rem;
      }
    }
  }
}

//Skills
.skills {
  .lista {
    list-style: none;
  }
  meter {
    width: 90%;
    height: 1.5rem;
    margin: 10px;
    --optimum: rgb(51, 255, 0);
    --sub-optimum: rgb(0, 49, 4);
    --background: #dadada;
    --optimum: rgb(0, 4, 255);
    --sub-optimum: forestgreen;
    --sub-sub-optimum: crimson;
    display: block;
    &::-webkit-meter-bar {
      background: var(--background);
    }
    &::-webkit-meter-optimum-value {
      background: var(--optimum);
      &::-moz-meter-bar {
        background: var(--optimum);
      }
    }
    &::-webkit-meter-suboptimum-value {
      background: var(--sub-optimum);
      &::-moz-meter-bar {
        background: var(--sub-optimum);
      }
    }
  }
  .lista-skills li {
    margin-bottom: 16px;
    text-align: right;
    span {
      font-size: 20px;
      margin: 0 10px;
    }
  }
  .lista-barras li {
    margin-bottom: 25px;
    text-align: left;
    :first-child {
      margin-top: 25px;
    }
  }
  .lingua:first-child {
    margin-top: 25px;
  }
  .conhecimentos {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "col1 col2";
    grid-template-columns: repeat(2, 1fr);
    .col1 {
      grid-area: col1;
    }
    .col2 {
      grid-area: col2;
    }
  }
  .linguas {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "col3 col4";
    grid-template-columns: repeat(2, 1fr);
    .col1 {
      grid-area: col3;
    }
    .col1 {
      grid-area: col4;
    }
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(1, 2fr);

  img {
    width: 100%;
    height: 70%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.7;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  padding-bottom: 0;
  width: 100%;
  text-align: center;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
